body
{
    width      : 95%;
    margin     : auto;
    color      : #000000;
    font-family: 'Raleway', sans-serif;

    overflow-x: hidden;
}


li, a
{
    list-style     : none;
    text-decoration: none;
    color          : #000000;
}


h3
{
    padding-top: 0.9375rem;
}


h4
{
    margin-top: 1.25rem;
}

/*---------------------------------*/

@media screen and ( min-width:1024px)
{

          header
          {
              width : auto;
              height: auto;
              margin: auto;
          }


          #ordi_nav
          {
              width     : 99%;
              height    : 10rem;

              display   : inline-flex;
              margin-top: 0.625rem;
          }


          #zone_logo
          {
              width      : 200px;
              height     : 10rem;
              margin-left: 1.875rem;

              display    : flex;
              align-items: center;

              margin-right: auto;
          }


          #logo_reservia
          {
              width    : 100%;
              height   : auto;
          }


          #zone_inscri
          {
              width       : 150px;
              height      : 10rem;

              display     : flex;
              align-items : center;

              order       : 3;
    
              font-size   : 1.4375rem;
              font-weight : bold;
          }


          #ins, #lien_inscrpt
          {
              width          : 100%;
              padding-left   : 0rem;
              color          : #0065FC;
          }


          nav
          {
              width        : 40%;
              height       : auto;

              display: flex;
              align-items: center;

              font-size    : 1.5rem;
          }


          #ul_liensnav
          {
              width  : 100%;
              height : auto;

              display: inline-flex;
              padding: 0rem;
          }


           .liens_nav
          {
              width      : 100%;
              text-align : center;
          }


          a.nav:hover
          {
              border-top   : 0.3125rem solid #0065FC;
              padding      : 3.5rem 9% 0 9%;
              color        : #0065FC;
          }


          #div_h1
          {
              width         : auto;
              margin-left   : 1.875rem;

              padding-top   : 2rem;
              text-align    : center;
          }


          #titre_accroche
          {
              width          : 100%;
              margin-bottom  : 0.9375rem;

              display        : flex;
              justify-content: flex-start;

              font-size      : 180%;
              font-weight    : bold;
          }


          #txt_accroche
          {
              width          : 100%;
              margin-top     : 0rem;

              display        : flex;
              justify-content: flex-start;

              font-size      : 140%;
              font-weight    : 400;
              letter-spacing : 0.03em;
          }


          #space_search
          {
               width          : 96%;
               height         : 4.8rem;

               display        : inline-flex;

               margin-top     : 2.5rem;
               margin-left    : 1.875rem;
          }


          #localisation
          {
              width                    : 10%;
              height                   : 85%;

              display                  : flex;
              align-self               : center;
              justify-content          : center;

              background-color         : #F2F2F2;
              border                   : 0.1875rem solid #F2F2F2;
              border-top-left-radius   : 1.25rem;
              border-bottom-left-radius: 1.25rem;
          }


          #locl
          {
              width     : auto;
              height    : auto;
              display   : flex;
              align-self: center;
          }


          #search
          {
              width       : 35%;
              height      : 85%;

              padding-left: 2rem;
              border      : 0.1875rem solid #F2F2F2;

              display     : inline-flex;
              align-self  : center;

              font-size   : 1.375rem;
              font-weight : bold;
          }


          #btn-rechercher
          {
              width                     : auto;
              height                    : 100%;

              margin-left               : -1.5625rem;
              background-color          : #0065FC;

              display                   : flex;
              justify-content           : center;
              padding-top               : 1.5rem;


              border                    : 0.125rem solid #F2F2F2;
              border-top-right-radius   : 1.25rem;
              border-bottom-right-radius: 1.25rem;
          }


          span
          {
              width    : 100%;
              font-size: 1.5rem;
              color    : #FFFFFF;
          }


          .fa-search
          {
              width    : auto;
              height   : 100%;
              font-size: 0rem;
          }



  /*--------------- FIN HEADER----------------*/

  /*--------------- CADRE FILTRES---------------*/



          #filtres
          {
              width      : auto;
              height     : 100%;

              margin-left: 1.875rem;
              margin-top : 2.5rem;
          }


           #titr_fil
           {
              width          : auto;
              height         : 3.75rem;
              margin-right   : 2rem;

              display        : inline-flex;
              align-items    : center;
              justify-content: center;
           }


          .btn_transform
          {
              height                    : 3.75rem;
              width                     : auto;

              margin                    : 0 2rem 0.6rem 0;
              padding                   : 0 0.9375rem 0 0;

              font-size                 : 1.25rem;
              font-weight               : bold;

              display                   : inline-flex;
              align-items               : center;


              border                    : 0.3125rem solid #F2F2F2;
              border-top-left-radius    : 1.7rem;
              border-bottom-left-radius : 1.7rem;
              border-top-right-radius   : 1.7rem;
              border-bottom-right-radius: 1.7rem;
           }


           .fa-money-bill-wave, .fa-baby, .fa-heart, .fa-dog
           {

              width           : 2.8125rem;
              height          : 2.8125rem;

              margin          : 0 0.9375rem 0 -0.5rem;
              padding         : 1.375rem 0.9375rem 0.125rem 0.9375rem;

              color           : #0065FC;
              font-size       : 1.375rem;
              text-align      : center;

              border-radius   : 70%;
              background-color: #DEEBFF ;
           }


           .btn_transform:hover
           {
              transition      : 0.8s;
              background-color: #DEEBFF ;
              color           : #0065FC;
           }


           #info
           {
              width      : auto;
              height     : auto;

              display    : flex;
              align-items: center;
              margin-left: 1.875rem;

              font-size  : 1.15rem;
              font-weight: 400;
            }


             #icone
            {
              width : auto;
              height: auto;

              text-align: center;
            }


            .fa-info
            {
              width        : 1rem;
              height       : 1rem;
              padding      : 0.5rem;


              color        : #0065FC;
              font-size    : 1rem;

              border-radius: 70%;
              border       : 0.3rem solid #DEEBFF;
            }


  /*--------------- FIN CADRE RECHERCHE ----------------*/

 /*-------DIV TEL_VUE POUR INVERSER LA SECTION ET L ASIDE ------*/


            #tel_vue
            {
               width          : 100%;
               height         : auto;

               display        : flex;
               background     : #F2F2F2;
            }


  /*--------------- ASIDE ---------------*/


          aside
          {
            width      : 40rem;
            height     : 62.5rem;

            padding-top: 1.5625rem;
            background :#F2F2F2;
          }


          #top
          {
            display        : flex;
            justify-content: space-between;

            margin         : 1rem 2.5rem 3rem 2.5rem;
            padding        : 0.5rem;
          }


           .hebergements_aside
          {
            width                     : auto;
            height                    : 20%;

            display                   : flex;
            margin-bottom             : 1.875rem;

            overflow                  : hidden;
            position                  : relative;

            background-color          : #FFFFFF;
            box-shadow                :  0.625rem 0.3125rem 1.25rem 0.625rem #E5E3E3;

            border                    : 0.5rem solid #FFFFFF;
            border-top-left-radius    : 2.2rem;
            border-bottom-left-radius : 2.2rem;
            border-top-right-radius   : 2.8rem;
            border-bottom-right-radius: 2.8rem;
          }


          .pic
          {
            width : 60%;
            height: auto;
          }


          .fig_aside
          {
            width          : 40%;
            height         : auto;

            padding-left   : 1.875rem;
            font-size      : 120%;
          }


          .paside
          {
            font-size : 1.1rem;
            margin-top: -0.5rem;
          }


          .asid_img_one
          {
            width     : 100%;
            height    : 100%;

            border-top-left-radius   : 1.6rem;
            border-bottom-left-radius: 1.6rem;
          }


          .asid_img_two
          {
            width                    : 100%;
            height                   : 100%;

            border-top-left-radius   : 1.6rem;
            border-bottom-left-radius: 1.6rem;
          }


          .asid_img
          {
            width                    : 100%;
            height                   : 25rem;

            margin-top               : -7.5rem;

            border-top-left-radius   : 1.6rem;
            border-bottom-left-radius: 1.6rem;
          }


            .cadre_etoile_aside
           {
             display   : inline-flex;
             font-size : 1.5rem;
             margin-top: -0.5rem;
           }


            .cadre_ACDE
           {
             font-size : 1.5rem;
             display   : inline-flex;
             margin-top: -1rem;
           }


  /*--------------- FIN ASIDE ----------------*/

           #espace
           {
             width           : 3%;
             height          : auto;
             background-color: white;
           }


  /*--------------- SECTION 1 ---------------*/


          #section_one
          {
            width          : 65%;
            height         : auto;
            padding-top    : 0.7rem;

            display        : flex;
            flex-wrap      : wrap;
            justify-content: center;
          }


          #heberg
          {
             width  : 100%;
             height : 0rem;
             margin : 1.6rem 0rem 4rem 2.5rem;
             padding: 1rem;
          }


          .section_hebergements
          {
            width : 20rem;
            height: auto;
            margin: 0rem 1rem 0rem 1rem;
          }


          .conteneur_hebergements
          {
            width                  : auto;
            height                 : 10rem;

            overflow               : hidden;
            position               : relative;

            box-shadow             : 0.625rem 0.3125rem 1.25rem 0.5rem #E5E5E5;

            border                 : 0.5rem solid #FFFFFF;
            border-top-left-radius : 2.2rem;
            border-top-right-radius: 2.2rem;

            background             : #F2F2F2;
          }


          .section_img
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -1.8rem;

            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


          .section_imghotelmer
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -4.2rem;

            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


          .section_imgaubergepanier
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -1rem;

            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


          .section_imghotelamina
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -9.8rem;

            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


          .fig_sectionone
          {
            width                     : auto;
            height                    : 7em;

            margin                    : -2.7rem 0 0.9375rem 0;
            padding-left              : 1.5625rem;
            position                  : relative;

            background-color          : #FFFFFF;
            box-shadow                : 0.625rem 0.3125rem 1.25rem 0.25rem #E5E5E5;

            border-bottom-left-radius : 2rem;
            border-bottom-right-radius: 2rem;
          }


          .psection
          {
            font-size : 1rem;
            margin-top: -0.9375rem;
          }


          .cadre_etoile
          {
            font-size : 1.5rem;
            margin-top: -3rem;
            display   : inline-flex;
          }


          .etoile
          {
            color  : #0065FC;
          }


          .etoile_vide
          {
            color  : grey;
            opacity: 0.5;
          }


          /*ou sinon

          .ok
          {
            color: #0065FC;
          }


          .nop
          {
            color: grey;
            opacity: 0.5;
          }

          */

          #aff
          {
            width          : 100%;
            height         : auto;
            padding-bottom : 0.9375rem;
          }

  /*--------------- FIN SECTION 1 ----------------*/


  /*--------------- SECTION 2 ---------------*/


          #activ
          {
          width      : 100%;
          height     : auto;
          margin-left: 2%;
          }


          #section_two
          {
            width          : 100%;
            height         : auto;

            display        : inline-flex;
            justify-content: center;
            flex-wrap      : wrap;

            margin-bottom  : 2.1875rem;
            padding-top    : 1.5625rem;
            background     : #FFFFFF;
          }


           .section_activites
           {
            width : 21.25rem;
            height: 33.3125rem;
           }


          .section_activites_double
          {
            width        : 22.5rem;
            height       : 14.0625rem;
            margin-bottom: 5rem;
          }


          .conteneur_activites
          {
            width                  : 100%;
            height                 : 100%;

            position               : relative;
            overflow               : hidden;

            box-shadow             : 0.625rem 0.3125rem 1.25rem 0.5rem #E5E5E5;
            border                 : 0.5rem solid #FFFFFF;
            border-top-left-radius : 2.2rem;
            border-top-right-radius: 2.2rem;
          }


          #activ_imgport
          {
            width                  : auto;
            height                 : 100%;

            margin-left            : -13.75rem;

            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


          #activ_imgfort
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -10.625rem;
            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


          #activ_imgfrioul
          {
              width                  : 100%;
              height                 : auto;
              margin-top             : 0.375rem;

              border-top-left-radius : 2rem;
              border-top-right-radius: 2rem;
          }


          #activ_imgcalanques
          {
            width                  : auto;
            height                 : 100%;

            margin-left            : -12.5rem;

            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


           #activ_imgNDMG
          {
            width                  : 100%;
            height                 : auto;

            margin-bottom          : -7.5rem;

            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


          #activ_imgparc
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -1.875rem;
            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


          .fig_activites
          {
            width                     : 96%;
            height                    : 5rem;

            background-color          : #FFFFFF;
            position                  : relative;

            margin                    : -5rem 0 0.9375rem 0;
            padding-left              :  2rem;

            box-shadow                : 0.625rem 0.3125rem 1.25rem 0.25rem #E5E5E5;
            border-bottom-left-radius : 2rem;
            border-bottom-right-radius: 2rem;
          }



  /*--------------- FIN SECTION 2 ----------------*/

  /*--------------- FOOTER ---------------*/


          footer
          {
             width           : 100%;
             height          : auto;

             display         : inline-flex;
             flex-wrap       : wrap;


             padding-bottom  : 2.1875rem;
             background-color: #F2F2F2;

          }


          #miseenformfooter
          {
             width      : 100%;
             height     : auto;

             display    : flex;

             line-height: 2rem;
             font-size  : 1.2rem;

             margin     : 3.125rem 1.875rem 0rem 1.875rem;
          }

          .ordi_footer
          {
            width: 20%;
            height: auto;


            margin-bottom: 25px;
            margin-right: 120px;
          }

          .fot
          {
             padding-left: 0;
          }

}

  /*--------------- FIN MEDIA QUERIES GRAND ECRAN PC/TV ---------------*/
  /*--------------- MEDIA QUERIES TABLETTE ---------------*/


@media screen and ( min-width:737px) and (max-width: 1023px)
{

          header
          {
              width : auto;
              height: auto;
              margin: auto;
          }

          #ordi_nav
          {
              width     : 99%;
              height    : auto;

              display   : inline-block;
              margin-top: 0.625rem;
          }
          

          #zone_logo
          {
              width      : 40%;
              height     : auto;
              display    : inline-flex;
              
              margin-left: 1.875rem;
              margin-top : 1.875rem;    
          }


          #logo_reservia
          {
              width        : 60%;
              height       : auto;
              margin-bottom: 1rem;     
          }


          #zone_inscri
          {
              width          : 30%;

              display        : inline-flex;
              justify-content: center;
              align-content  : center;

              float: right;
              margin: 3.5rem 0rem 3.5rem 0rem;

              font-size      : 1.56rem;
              font-weight    : bold;
          }


          #ins, #lien_inscrpt
          {
              width          : 100%;
              padding-left   : 0rem;
              
              display        : flex;
              justify-content: center;
              align-self     : center;

              color          : #0065FC;
          }


          nav
          {
              width        : auto;
              height       : 5rem;
              display      : block;

              margin-top   : 2rem;

              padding-right: 1.5625rem;
              font-size    : 1.5rem;
              border-bottom: 0.3125rem solid #F2F2F2;
              border-top   : 0.3125rem solid #F2F2F2;
          }


          #ul_liensnav
          {
              width  : 100%;
              height : auto;

              display: inline-flex;      
          }


           .liens_nav
          {
              width        : 100%;
              text-align   : center;
              margin-bottom: 0.625rem;
          }


          a.nav:hover
          {
              border-left  : 0.2rem solid #0065FC;
              border-right : 0.2rem solid #0065FC;
              padding      : 0 8% 0 8%;
              color        : #0065FC;
          }


          #div_h1
          {
              width         :auto;
              margin-left   : auto;

              padding-top   : 2.5rem;
              text-align    : center;

              display       : flex;
              align-content : center;
              flex-direction: column;
          }


          #titre_accroche
          {
              width          : 600px;
              margin         : auto;
              margin-bottom  : 0.9375rem;

              font-size      : 180%;
              font-weight    : bold;
          }


          #txt_accroche
          {
              width          : 100%;
              margin-top     : 0rem;

              font-size      : 140%;
              font-weight    : 400;
              letter-spacing : 0.03em;
          }


          #space_search
          {
               width          : 90%;
               height         : 4.8rem;
              
               display        : inline-flex;
               justify-content: center;
               margin: 2.5rem  0rem  1rem 1.875rem;
          }


          #localisation
          {
              width                    : 8%;
              height                   : 85%;

              display                  : flex;
              align-self               : center;
              justify-content          : center;

              background-color         : #F2F2F2;
              border                   : 0.1875rem solid #F2F2F2;
              border-top-left-radius   : 1.25rem;
              border-bottom-left-radius: 1.25rem;
          }


          #locl
          {
              width     : auto;
              height    : auto;
              display   : flex;
              align-self: center;
          }


          #search
          {
              width       : 38%;
              height      : 85%;

              padding-left: 2rem;
              border      : 0.1875rem solid #F2F2F2;

              display     : inline-flex;
              align-self  : center;

              font-size   : 1.375rem;
              font-weight : bold;
          }


          #btn-rechercher
          {
              width                     : auto;
              height                    : 100%;

              margin-left               : -1.5625rem;
              background-color          : #0065FC;

              display                   : flex;
              justify-content           : center;
              padding-top               : 1.5rem;


              border                    : 0.125rem solid #F2F2F2;
              border-top-right-radius   : 1.25rem;
              border-bottom-right-radius: 1.25rem;
          }


          span
          {
              width    : 100%;
              font-size: 1.5rem;
              color    : #FFFFFF;
          }


          .fa-search
          {
              width    : auto;
              height   : 100%;
              font-size: 0rem;
          }



  /*--------------- FIN HEADER----------------*/

  /*--------------- CADRE FILTRES---------------*/



          #filtres
          {
              width      : auto;
              height     : auto;

              margin-left: 1.875rem;
              margin-top : 1.5625rem;
          }


           #titr_fil
           {
              width          : auto;
              height         : 3.75rem;
              margin-right   : 2rem;

              display        : block;
              align-items    : center;
           }


          .btn_transform
          {
              height                    : 3.75rem;
              width                     : 40%;

              margin                    : 0rem 2rem 1rem 0.2rem;
              padding                   : 0rem 0.9375rem 0rem  0rem;

              font-size                 : 1.25rem;
              font-weight               : bold;

              display                   : inline-flex;
              align-items               : center;


              border                    : 0.3125rem solid #F2F2F2;
              border-top-left-radius    : 1.7rem;
              border-bottom-left-radius : 1.7rem;
              border-top-right-radius   : 1.7rem;
              border-bottom-right-radius: 1.7rem;
           }


           .fa-money-bill-wave, .fa-baby, .fa-heart, .fa-dog
           {

              width           : 2.8125rem;
              height          : 2.8125rem;

              margin          : 0 0.9375rem 0 -0.5rem;
              padding         : 1.375rem 0.9375rem 0.125rem 0.9375rem;

              color           : #0065FC;
              font-size       : 1.375rem;
              text-align      : center;

              border-radius   : 70%;
              background-color: #DEEBFF ;
           }


           .btn_transform:hover
           {
              transition      : 0.8s;
              background-color: #DEEBFF ;
              color           : #0065FC;
           }


           #info
           {
              width      : auto;
              height     : auto;

              display    : flex;
              align-items: center;
              margin-left: 1.875rem;

              font-size  : 1.15rem;
              font-weight: 400;
              margin-bottom: 0.5rem;
            }


             #icone
            {
              width : auto;
              height: auto;

              text-align: center;
            }


            .fa-info
            {
              width        : 1rem;
              height       : 1rem;
              padding      : 0.5rem;


              color        : #0065FC;
              font-size    : 1rem;

              border-radius: 70%;
              border       : 0.3rem solid #DEEBFF;
            }


  /*--------------- FIN CADRE RECHERCHE ----------------*/

 /*-------DIV TEL_VUE POUR INVERSER LA SECTION ET L ASIDE ------*/


            #tel_vue
            {
               width          : 100%;
               height         : auto;

               background     : #FFFFFF;
            }


  /*--------------- ASIDE ---------------*/


          aside
          {
            width        : 40rem;
            height       : 62.5rem;
            margin       : auto;
            margin-top   : 3rem;
            margin-bottom: 3.125rem;

            padding-top  : 1.5625rem;
            border       : 0.125rem solid #E5E5E5;
            box-shadow   : 0.625rem 0.3125rem 1.25rem 0.5rem #E5E5E5;
          }


          #top
          {
            display        : flex;
            justify-content: space-between;

            margin         : 1rem 2.5rem 3rem 2.5rem;
            padding        : 0.5rem;
          }


           .hebergements_aside
          {
            width                     : auto;
            height                    : 20%;

            display                   : flex;
            margin-bottom             : 4rem;

            overflow                  : hidden;
            position                  : relative;

            background-color          : #FFFFFF;
            box-shadow                :  0.625rem 0.3125rem 1.25rem 0.625rem #E5E3E3;

            border                    : 0.5rem solid #FFFFFF;
            border-top-left-radius    : 2.2rem;
            border-bottom-left-radius : 2.2rem;
            border-top-right-radius   : 2.8rem;
            border-bottom-right-radius: 2.8rem;
          }


          .pic
          {
            width : 60%;
            height: auto;
          }


          .fig_aside
          {
            width          : 40%;
            height         : auto;

            padding-left   : 1.875rem;
            font-size      : 120%;
          }


          .paside
          {
            font-size : 1.1rem;
            margin-top: -0.5rem;
          }


          .asid_img_one
          {
            width     : 100%;
            height    : 100%;

            border-top-left-radius   : 1.6rem;
            border-bottom-left-radius: 1.6rem;
          }


          .asid_img_two
          {
            width                    : 100%;
            height                   : 100%;

            border-top-left-radius   : 1.6rem;
            border-bottom-left-radius: 1.6rem;
          }


          .asid_img
          {
            width                    : 100%;
            height                   : 25rem;

            margin-top               : -7.5rem;

            border-top-left-radius   : 1.6rem;
            border-bottom-left-radius: 1.6rem;
          }


            .cadre_etoile_aside
           {
             display   : inline-flex;
             font-size : 1.5rem;
             margin-top: -0.5rem;
           }


            .cadre_ACDE
           {
             font-size : 1.5rem;
             display   : inline-flex;
             margin-top: -1rem;
           }


  /*--------------- FIN ASIDE ----------------*/

  /*--------------- SECTION 1 ---------------*/


          #section_one
          {
            width          : auto;
            height         : auto;
            padding-top    : 0.7rem;

            display        : flex;
            flex-wrap      : wrap;
            justify-content: center;
            background     :#F2F2F2;
          }


          #heberg
          {
             width  : 100%;
             margin : 1.6rem 0rem 2.5rem 1rem;
             padding: 1rem;
          }


          .section_hebergements
          {
            width : 20rem;
            height: auto;
            margin: 0rem 1rem 0rem 1rem;
          }


          .conteneur_hebergements
          {
            width                  : auto;
            height                 : 10rem;

            overflow               : hidden;
            position               : relative;

            box-shadow             : 0.625rem 0.3125rem 1.25rem 0.5rem #E5E5E5;

            border                 : 0.5rem solid #FFFFFF;
            border-top-left-radius : 2.2rem;
            border-top-right-radius: 2.2rem;

            background             : #F2F2F2;
          }


          .section_img
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -1.8rem;

            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


          .section_imghotelmer
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -4.2rem;

            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


          .section_imgaubergepanier
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -1rem;

            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


          .section_imghotelamina
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -9.8rem;

            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


          .fig_sectionone
          {
            width                     : auto;
            height                    : 7em;

            margin                    : -2.7rem 0 0.9375rem 0;
            padding-left              : 1.5625rem;
            position                  : relative;

            background-color          : #FFFFFF;
            box-shadow                : 0.625rem 0.3125rem 1.25rem 0.25rem #E5E5E5;

            border-bottom-left-radius : 2rem;
            border-bottom-right-radius: 2rem;
          }


          .psection
          {
            font-size : 1rem;
            margin-top: -0.9375rem;
          }


          .cadre_etoile
          {
            font-size : 1.5rem;
            margin-top: -3rem;
            display   : inline-flex;
          }


          .etoile
          {
            color  : #0065FC;
          }


          .etoile_vide
          {
            color  : grey;
            opacity: 0.5;
          }


          /*ou sinon

          .ok
          {
            color: #0065FC;
          }


          .nop
          {
            color: grey;
            opacity: 0.5;
          }

          */

          #aff
          {
            width          : 100%;
            height         : auto;
            padding-bottom : 0.9375rem;
          }

  /*--------------- FIN SECTION 1 ----------------*/


  /*--------------- SECTION 2 ---------------*/


          #activ
          {
          width      : 100%;
          height     : auto;
          margin-left: 2%;
          }


          #section_two
          {
            width                  : auto;
            height                 : auto;

            display                : flex;
            justify-content        : center;
            flex-wrap              : wrap;

            margin-bottom          : 2.1875rem;
            padding-top            : 1.5625rem;

            border                 : 0.125rem solid #F2F2F2;
            border-top-left-radius : 1.5rem;
            border-top-right-radius: 1.5rem;
            box-shadow             : 2rem 0.6rem 5rem 0.5rem #E5E5E5;

          }


           .section_activites
           {
            width        : 22.5rem;
            height       : 14.0625rem;
            margin-bottom: 5rem;
           }


          .section_activites_double
          {
            width        : 22.5rem;
            height       : 14.0625rem;
            margin-bottom: 5rem;
          }


          .conteneur_activites
          {
            width                  : 100%;
            height                 : 100%;

            position               : relative;
            overflow               : hidden;

            box-shadow             : 0.625rem 0.3125rem 1.25rem 0.5rem #E5E5E5;
            border                 : 0.5rem solid #FFFFFF;
            border-radius          : 2.2rem;

          }


          #activ_imgport
          {
            width                  : 100%;
            height                 : auto;
            margin-top             : -0.5rem;

          }


          #activ_imgfort
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -10.625rem;
          }


          #activ_imgfrioul
          {
              width                  : 100%;
              height                 : auto;

              margin-top             : -0.7rem;
          }


          #activ_imgcalanques
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -1.5rem;
            border-radius          : 2.2rem;

          }


           #activ_imgNDMG
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -1.2rem;

            border-top-left-radius : 2rem;
            border-top-right-radius: 2rem;
          }


          #activ_imgparc
          {
            width                  : 100%;
            height                 : auto;

            margin-top             : -1.875rem;
            border-radius          : 2rem;
            
            
          }


          .fig_activites
          {
            width                     : 95.5%;
            height                    : 5rem;

            background-color          : #FFFFFF;
            position                  : relative;

            display: flex;

            margin                    :  -5.2rem 0rem 0rem 0rem;
            padding-left              :  2rem;

            box-shadow                : 0.625rem 0.3125rem 1.25rem 0.25rem #E5E5E5;
            border-bottom-left-radius : 2rem;
            border-bottom-right-radius: 2rem;
          }



  /*--------------- FIN SECTION 2 ----------------*/

  /*--------------- FOOTER ---------------*/


          footer
          {
             width           : 100%;
             height          : auto;

             display         : inline-flex;
             flex-wrap       : wrap;


             padding-bottom  : 2.1875rem;
             background-color: #F2F2F2;
          }


          #miseenformfooter
          {
             width      : 100%;
             height     : auto;
             margin: 0rem 2.5rem 0rem 2.5rem;

             display    : flex;

             line-height: 2rem;
             font-size  : 1.2rem;
          }

          .ordi_footer
          {
            width: 30%;
            height: 100%;
            margin: auto;  
          }

          .fot
          {
             padding-left: 0;
             height: 70%;
             width: 10rem;
             margin-bottom: 2rem;       
          }

          .tf{
            display: flex;
            margin-bottom: 1rem;
          }

}

/*--------------- FIN FOOTER ---------------*/

/*--------------- FIN MEDIA QUERIES TELEPHONE ----------------*/



          /* CHOIX DU BREAKPOINT: UN IPHONE 8 PLUS FAIT 5.5 POUCE,
          LES ECRANS PORTABLE DE NOS JOURS SONT AUTOUR DE 5.5 ET 6.5
          LE PLUS GRAND A 7.12 POUCE. J AI DONC MIS LE BREAKPOINT A 6.5*/


@media screen and ( max-width:736px)
{

          header
          {
              width : auto;
              height: auto;
              margin: auto;
          }


          #zone_logo
          {
              width      : auto;
              height     : 6rem;

              display    : inline-flex;
              margin: 1.7rem 0rem 1.5rem 1.8rem;
          }


          #logo_reservia
          {
              width    : 10rem;
              height   : auto;
          }


          #zone_inscri
          {
              width       : auto;
              height      : auto;
              float       : right;

              margin: 3rem 1.5rem 3rem 0rem;

              font-size   : 1.4375rem;
              font-weight : bold;
          }


          #lien_inscrpt
          {
              color : #0065FC;
          }


          nav
          {
              width        : auto;
              height       : auto;
              margin-top   : 0.625rem;

              font-size    : 1.375rem;
              border-bottom: 0.3125rem solid #F2F2F2;
          }


          #ul_liensnav
          {
              width  : 89%;
              height : auto;
              display: inline-flex;
          }


           .liens_nav
          {
              width      : 100%;
              margin     : 0rem 1.5rem 0rem 0rem;
              text-align : center;
          }


          a.nav:hover
          {
              border-bottom: 0.3125rem solid #0065FC;
              padding      : 0rem 7% 9% 7%;
              color        : #0065FC;        
          }


          #div_h1
          {
              width         : auto;
              margin        : auto;

              padding-top   : 1rem;
              text-align    : center;


              display       : flex;
              align-items   : center;
              flex-direction: column;
              
          }

          #titre_accroche
          {
              width         : 80%;
              font-size     : 1.7rem;
              
              font-weight   : bold;
              margin-bottom : 0.9375rem;      
          }


          #txt_accroche
          {
              padding-left  : 1rem;
              margin-top    : 0rem;
              
              font-size     : 140%;
              font-weight   : 400;
              letter-spacing: 0.03em;
          }


          #space_search
          {
               width          : auto;
               height         : 5rem;
               
               display        : inline-flex;
               margin-top     : 1.3rem;
               margin-left    : 1rem;
               margin-right   : 0.5rem;
          }


          #localisation
          {
              width                    : 12%;
              height                   : 92%;

              display                  : flex;
              justify-content          : center;
              
              background-color         : #F2F2F2;
              border                   : 0.1875rem solid #F2F2F2;
              border-top-left-radius   : 1.25rem;
              border-bottom-left-radius: 1.25rem;
          }


          #locl
          {
              height    : 1.5625rem;
              align-self: center;
          }


          #search
          {
              width        : 60%;
              height       : 85%;
              align-self   : center;

              padding-left : 1.5rem;
              padding-right: 2.5rem;
              border       : 0.1875rem solid #F2F2F2;

              font-size    : 1.375rem;
              font-weight  : bold;
          }


          #btn-rechercher
          {
              width                     : 15%;
              height                    : 100%;

              margin-left               : -1.5rem;

              background-color          : #0065FC;

              border                    : 0.125rem solid #F2F2F2;
              border-top-left-radius    : 1.25rem;
              border-bottom-left-radius : 1.25rem;
              border-top-right-radius   : 1.25rem;
              border-bottom-right-radius: 1.25rem;
          }


          span
          {
              visibility: hidden ;
              overflow: hidden;
              display: block;
          }


         .fa-search

          {
              width      : 100%;
              font-size  : 1.5625rem;

              padding-top: 1.5625rem;
              color      : white;
          }


  /*--------------- FIN HEADER----------------*/

  /*--------------- CADRE FILTRES---------------*/


          #titr_fil
          {
              width: 100%;
              margin-left: 0.5rem;
              margin-top : 2.7rem;
          }


          #filtres
          {
              width          : auto;
              height         : auto;

              display        : flex;
              flex-wrap      : wrap;
              justify-content: space-between;

              margin-left    : 1.875rem;
              margin-right   : 1.875rem;
          }


          .btn_transform
          {
              height                    : 3.75rem;
              width                     : auto;

              margin                    : 1rem 0 0.6rem 0;
              padding                   : 0 0.9375rem 0 0;

              font-size                 : 1.375rem;
              font-weight               : bold;

              display                   : flex;
              align-items               : center;

              border                    : 0.3125rem solid #F2F2F2;
              border-top-left-radius    : 1.7rem;
              border-bottom-left-radius : 1.7rem;
              border-top-right-radius   : 1.7rem;
              border-bottom-right-radius: 1.7rem;
           }


           .fa-money-bill-wave, .fa-baby, .fa-heart, .fa-dog
           {

              width           : 2.8125rem;
              height          : 2.8125rem;

              margin          : 0 0.9375rem 0 -0.5rem;
              padding         : 1.375rem 0.9375rem 0.125rem 0.9375rem;

              color           : #0065FC;
              font-size       : 1.375rem;
              text-align      : center;

              border-radius   : 70%;
              background-color: #DEEBFF ;
           }


           .btn_transform:hover
           {
              transition      : 0.8s;
              background-color: #DEEBFF ;
              color           : #0065FC;
           }


           #icone
           {
            width: 15%;
            
           }


           #info
           {
              width      : 68%;
              height     : auto;

              display    : flex;
              margin     : 2rem 0.9375rem 1.5625rem 1.875rem;

              font-size  : 0.98rem;
              font-weight: 400;
            }


           .fa-info
           {
              width        : 0.55rem;
              height       : 0.55rem;
              padding      : 0.4rem;

              color        : #0065FC;
              font-size    : 0.7rem;

              border-radius: 70%;
              border       : 0.125rem solid #DEEBFF;
           }


  /*--------------- FIN CADRE RECHERCHE ----------------*/

 /*-------DIV TEL_VUE POUR INVERSER LA SECTION ET L ASIDE ------*/


          #tel_vue
          {
            width         : 100%;
            height        : auto;

            display       : flex;
            flex-direction: column-reverse;
          }


  /*--------------- ASIDE ---------------*/


          aside
          {
            width      : auto;
            height     : auto;

            padding-top: 1.5625rem;
            background :#F2F2F2;
          }


          #top
          {
            display        : flex;
            justify-content: space-between;

            margin         : 0.625rem 2.5rem 0.3125rem 2.5rem;
            padding-bottom : 0.625rem;

          }

           .hebergements_aside
          {
            width           : auto;
            height          : 13rem;

            overflow        : hidden;
            position        : relative;

            
            padding-bottom  : 0.625rem;


            background-color: #FFFFFF;
            box-shadow      :  0.625rem 0.3125rem 1.25rem 0.625rem #E5E3E3;

            border                    : 0.5rem solid #FFFFFF;
            border-top-left-radius    : 2.2rem;
            border-bottom-left-radius : 2.2rem;
            border-top-right-radius   : 2.8rem;
            border-bottom-right-radius: 2.8rem;
            
          
          }


          .pic
          {
            width : auto;
            height: auto;
            position:absolute;
          }


          .fig_aside
          {
            width          : 45%;
            height         : 16rem;

            background-color: white;
            float           : right;
            position        : relative;

            display        : flex;
            flex-direction : column;
            justify-content: flex-start;

            padding-left   : 1.5rem;
            font-size      : 120%;
          }


          .paside
          {
            font-size : 1.1rem;
            margin-top: -1rem;
          }


          .asid_img_one
          {
             width     : 100%;
             height    : 13.5rem;

             margin-left: -2rem;

             border-top-left-radius   : 1.6rem;
             border-bottom-left-radius: 1.6rem;
          }


          .asid_img_two
          {
             width     : 100%;
             height    : 17.5rem;
             margin-left: -30%;

             border-top-left-radius   : 1.6rem;
             border-bottom-left-radius: 1.6rem;
          }

          .asid_img
          {
            width        : 124%;
            height       : 20rem;
           
            margin-top: -5rem;
            

            border-top-left-radius   : 1.6rem;
            border-bottom-left-radius: 1.6rem;
          }


            .cadre_etoile_aside
           {
             font-size : 1.5rem;
             display   : inline-flex;
             padding-top: 1rem;
             margin-left: -0.5rem;
           }

           .cadre_etoile_aside_deux
           {
             font-size : 1.5rem;
             display   : inline-flex;
             padding-top: -2rem;
             margin-left: -0.5rem;
           }

           .etoile, .etoile_vide
           {
             margin-top: -0rem;
           }



  /*--------------- FIN ASIDE ----------------*/

  /*--------------- SECTION 1 ---------------*/

  #section_one
  {
    width          : auto;
    height         : auto;
    padding-top    : 0.7rem;
    

    display        : flex;
    flex-direction: column;
    
    background     :#f5f3f33d;
    
  }


  #heberg
  {
     width  : auto;
     margin : 1.6rem 0rem 2.5rem 1rem;
     padding: 1rem;
     display: block;
  }


  .section_hebergements
  {
    width : 20rem;
    height: auto;
    margin       : 0rem auto 5rem auto;
  }


  .conteneur_hebergements
  {
    width                  : auto;
    height                 : 10rem;

    overflow               : hidden;
    position               : relative;

    box-shadow             : 0.625rem 0.3125rem 1.25rem 0.5rem #E5E5E5;

    border                 : 0.5rem solid #FFFFFF;
    border-top-left-radius : 2.2rem;
    border-top-right-radius: 2.2rem;

    background             : #F2F2F2;
  }


  .section_img
  {
    width                  : 100%;
    height                 : auto;

    margin-top             : -1.8rem;

    border-top-left-radius : 2rem;
    border-top-right-radius: 2rem;
  }


  .section_imghotelmer
  {
    width                  : 100%;
    height                 : auto;

    margin-top             : -4.2rem;

    border-top-left-radius : 2rem;
    border-top-right-radius: 2rem;
  }


  .section_imgaubergepanier
  {
    width                  : 100%;
    height                 : auto;

    margin-top             : -1rem;

    border-top-left-radius : 2rem;
    border-top-right-radius: 2rem;
  }


  .section_imghotelamina
  {
    width                  : 100%;
    height                 : auto;

    margin-top             : -9.8rem;

    border-top-left-radius : 2rem;
    border-top-right-radius: 2rem;
  }


  .fig_sectionone
  {
    width                     : auto;
    height                    : 7em;

    margin                    : -2.7rem 0 0.9375rem 0;
    padding-left              : 1.5625rem;
    position                  : relative;

    background-color          : #FFFFFF;
    box-shadow                : 0.625rem 0.3125rem 1.25rem 0.25rem #E5E5E5;

    border-bottom-left-radius : 2rem;
    border-bottom-right-radius: 2rem;
  }


  .psection
  {
    font-size : 1rem;
    margin-top: -0.9375rem;
  }


  .cadre_etoile
  {
    font-size : 1.5rem;
    margin-top: -3rem;
    display   : inline-flex;
  }


  .etoile
  {
    color  : #0065FC;
  }


  .etoile_vide
  {
    color  : grey;
    opacity: 0.5;
  }

  #aff
  {
    width          : auto;
    height         : auto;
    padding-bottom : 3.5rem;
  }

  /*--------------- FIN SECTION 1 ----------------*/


  /*--------------- SECTION 2 ---------------*/


  #activ
  { 
    width      : auto;
    height     : auto;
    margin-left: 2%;
  }


  #section_two
  {
    width                  : auto;
    height                 : auto;

    display                : flex;
    flex-direction         : column;

    margin-bottom          : 2.1875rem;
    padding-top            : 1.5625rem;

    border-top-left-radius : 1.5rem;
    border-top-right-radius: 1.5rem;
    box-shadow             : 2rem 0.6rem 5rem 0.5rem #E5E5E5;

  }


   .section_activites
   {
    width        : 22.5rem;
    height       : 14.0625rem;
    margin-bottom: 5rem;
    margin       : 0rem auto 5rem auto;
   }


  .section_activites_double
  {
    width        : 22.5rem;
    height       : 14.0625rem;
    margin       : 0rem auto 5rem auto;
  }


  .conteneur_activites
  {
    width                  : auto;
    height                 : 100%;

    position               : relative;
    overflow               : hidden;

    box-shadow             : 0.625rem 0.3125rem 1.25rem 0.5rem #E5E5E5;
    border                 : 0.5rem solid #ffffff;
    border-radius          : 2.2rem;

  }


  #activ_imgport
  {
    width                  : 100%;
    height                 : auto;
    margin-top             : -0.5rem;

  }


  #activ_imgfort
  {
    width                  : 100%;
    height                 : auto;

    margin-top             : -10.625rem;
  }


  #activ_imgfrioul
  {
      width                  : 100%;
      height                 : auto;

      margin-top             : -0.7rem;
  }


  #activ_imgcalanques
  {
    width                  : 100%;
    height                 : auto;

    margin-top             : -1.5rem;
    border-radius          : 2.2rem;

  }


   #activ_imgNDMG
  {
    width                  : 100%;
    height                 : auto;

    margin-top             : -1.2rem;

    border-top-left-radius : 2rem;
    border-top-right-radius: 2rem;
  }


  #activ_imgparc
  {
    width                  : 100%;
    height                 : auto;

    margin-top             : -1.875rem;
    border-radius          : 2rem;
    
    
  }


  .fig_activites
  {
    width                     : auto;
    height                    : 5rem;

    background-color          : #FFFFFF;
    position                  : relative;

    display: flex;

    margin                    :  -5.2rem 0rem 0rem 0rem;
    padding-left              :  2rem;

    box-shadow                : 0.625rem 0.3125rem 1.25rem 0.25rem #E5E5E5;
    border-bottom-left-radius : 2rem;
    border-bottom-right-radius: 2rem;
    overflow-x: hidden;
  }



  /*--------------- FIN SECTION 2 ----------------*/

  /*--------------- FOOTER ---------------*/


          footer
          {
             width           : auto;
             height          : auto;

             display         : flex;
             flex-direction  : column;

             padding-bottom  : 2.1875rem;
             background-color: #F2F2F2;

          }


          #miseenformfooter
          {
             padding-left: 35px;
             line-height : 2rem;
          }

          .fot
          {
             padding-left: 0;
          }

}

/*--------------- FIN FOOTER ---------------*/

/*--------------- FIN MEDIA QUERIES TELEPHONE ----------------*/


